# Compiler outputs
out/
cache/

# Dependencies
lib/

# Ignore all broadcast content by default
broadcast/*
# Keep only JSON files and .gitkeep
!broadcast/**/*.json
!broadcast/.gitkeep

# Environment config
.env

# VS Code settings
.vscode/

# Docs
docs/

# MacOS system files
.DS_Store

# Node.js dependencies (if you add frontend)
node_modules/

# Coverage output
coverage/
lcov-report/

# Logs (ignore all log files, but keep the folder if needed)
logs/

# Python virtual environment
venv/